<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Port number:</strong>
  <%= @service.port_number %>
</p>

<p>
  <strong>Protocol:</strong>
  <%= @service.protocol %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @service.reference %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
