<h1>Phage Dashboard</h1>

<div class='card'>
  <div class='card-header'>
    <h2 class='card-title'>Devices</h2>
  </div>
  <div class='card-block'>
    <ul class="list-group list-group-flush">
      <li class='list-group-item'><%= @devices_count %> devices seen</li>
      <li class='list-group-item'><%= @devices_present_count %> devices present</li>
    </ul>
  </div>
</div>

<div class='card'>
  <div class='card-header'>
    <h2 class='card-title'>Flows</h2>
  </div>
  <div class='card-block'>
<% if @most_recent_flow %>
<p>Most recent flow processed <%= distance_of_time_in_words(Time.now, @most_recent_flow.timestamp) %> ago (<%= @most_recent_flow.timestamp %>)</p>

<ul class="list-group list-group-flush">
  <li class='list-group-item'><%= number_with_delimiter @complete_flow_count %> Complete</li>
  <li class='list-group-item'><%= number_with_delimiter @incomplete_flow_count %> Incomplete</li>
  <li class='list-group-item'><%= number_with_delimiter @reset_flow_count %> Reset</li>
</ul>
<% else %>
No flows
<% end %>
  </div>
  </div>

<div class='card'>
  <div class='card-header'>
    <h2 class='card-title'>Partial Flows</h2>
  </div>
  <div class='card-block'>
<% if @most_recent_flow %>
<p>Most recent partial flow <%= distance_of_time_in_words(Time.now, @most_recent_partial_flow.timestamp) %> ago (<%= @most_recent_partial_flow.timestamp %>)</p>

<ul class="list-group list-group-flush">
  <li class='list-group-item'><%= number_with_delimiter @matched_partial_flow_count %> Matched</li>
  <li class='list-group-item'><%= number_with_delimiter @unmatched_partial_flow_count %> Unmatched</li>
  <li class='list-group-item'><%= number_with_delimiter @ignored_partial_flow_count %> Ignored</li>
</ul>

<% else %>
No partial flows
<% end %>
  </div>
  </div>
