<p id="notice"><%= notice %></p>

<h1>Devices</h1>

<p><%= Device.all.count %> devices known</p>
<p><%= Device.where(active: true).count %> active, <%= Device.where(active:false).count %> inactive</p>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mac address</th>
      <th>Ipv4</th>
      <th>Ipv6</th>
      <th>Flows</th>
      <th>Last seen</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr class='<%= device.active ? "active" : "inactive" %>'>
	<td><%= link_to device.friendly_name, device %></td>
        <td><%= device.mac_address %><br/><%= device.oui && device.oui.manufacturer %></td>
        <td><%= device.ipv4 && device.ipv4.join(', ') %></td>
        <td><%= device.ipv6 && device.ipv6.join(', ')  %></td>
	<td><%= Flow.where(device: device).count %></td>
        <td><%= Time.now - device.last_seen < 60 ? 'now' : distance_of_time_in_words(device.last_seen, Time.now, include_seconds: true) %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>

<%= will_paginate @devices %>
