<p id="notice"><%= notice %></p>

<p>
  <strong>Mac address:</strong>
  <%= @device.mac_address %>
  <%= @device.try(:product).try(:name) %>
</p>

<p>
  <strong>Names:</strong>
  <%= @device.name.join(', ') %>
</p>

<%= @device.product.try(:name) %>
<%= @device.product.try(:manufacturer).try(:name) %>

<p>
  <strong>Ipv4:</strong>
  <%= @device.ipv4.map(&:to_s).join(', ') %>
</p>

<p>
  <strong>Ipv6:</strong>
  <%= @device.ipv6 %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @device.kind %>
</p>

<p>
  <strong>Last seen:</strong>
  <%=distance_of_time_in_words(@device.last_seen, Time.now, include_seconds: true) %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @device.extra %>
</p>

<p>
  <strong>Open ports:</strong>
  <strong>TCPv4:</strong>
  <%= @device.tcpv4.join(', ') %>
  </p>

  <h2>Flows</h2>
<p>
  <ul>
    <% @device.flows.each do |flow| %>
    <li>
      <%= flow.src_ip %>:<%= flow.src_port %> -> <%= flow.dst_ip %>:<%= flow.dst_port %> <%= flow.bytes_sent %> in <%= flow.duration %> seconds
    </li>
    <% end %>
  </ul>
</p>
<pre>
  <%= results =  @device.scan_diff.where("extra ? 'active'").inject({}) { |hash, sd| hash.merge({ sd.created_at => sd.extra["active"] }) } ;
  new_results = results.clone
  results.each { |key, value| new_results[key - 0.01] = !value }
  JSON.pretty_generate(results)
  JSON.pretty_generate(new_results) %>
</pre>

<%= results =  @device.scan_diff.where("extra ? 'active'").inject({}) { |hash, sd| hash.merge({ sd.created_at => sd.extra["active"] }) } ;
  new_results = results.clone
  results.each { |key, value| new_results[key - 0.01] = !value } %>
<%= column_chart(  @device.scan_diff.where("extra ? 'active'").inject({}) { |hash, sd| hash.merge( { sd.created_at => sd.extra["active"] ? 1 : 0  })}, discrete: true ) %>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>

<% content_for :title, @device.name.first || @device.ipv4.first %>
