<div class='card'>
  <div class='card-header'>
    <h1 class='card-title'><%= @device.friendly_name %></h1>
  </div>

  <% if @device.is_mobile %>
  <span class="badge badge-pill badge-primary">Mobile</span>
  <% end %>
  <% if @device.is_thing %>
  <span class="badge badge-pill badge-primary">Thing</span>
  <% end %>
  
  <ul>
    <li><%= @device.name.join(', ') %></li>
    <li><%= @device.ipv4.map(&:to_s).join(', ') %></li>
    <li><%= @device.mac_address %></li>
    <li><%= @device.try(:product).try(:name) %></li>
    <li><%= @device.product.try(:manufacturer).try(:name) %></li>
    <li><%=distance_of_time_in_words(@device.last_seen, Time.now, include_seconds: true) %> ago</li>
  </ul>


  <%= @device.tcpv4.join(', ') %>

<% if @flows.count > 0 %>
  <h2>Flows</h2>
<p>
  <ul>
    <% @flows.each do |flow| %>
    <li>
      <%       begin
          src_port = Socket.getservbyport(flow.src_port)
        rescue
          src_port = flow.src_port.to_s
        end

        begin
          dst_port = Socket.getservbyport(flow.dst_port)
        rescue
          dst_port = flow.dst_port.to_s
        end

	loc = flow.country 
       %>

      <%= flow.src_ip %>:<%= src_port %> -> <%= flow.dst_ip %>:<%=dst_port %><br/> <%= flow.bytes_sent %> bytes sent, <%= flow.bytes_received %> received in <%= flow.duration %> seconds <%= loc.try(:country) %>
      <% if loc %>
      <%= image_tag "country-4x3/#{loc.country_code.downcase}.svg", width: 32, alt: loc.country_code %>
      <% end %>
    </li>
    <% end %>
  </ul>

  <%= link_to 'See more flows', "/flows?device_id=#{@device.id}" %>

</p>

<h2>Unique Destinations</h2>
<ul>
<% @destinations.each do |dest| %>
  <li>
    <%= dest %> - <%= Hostname.find_by(ipv4: dest).try(:best_name) %>

    <% 
       geo_ip = GeoIp.where("ipaddr >>= inet ?", dest.to_s).first
       loc = geo_ip.try(:geo_location)

       if loc
     %>
       <%= loc.country %>
      <%= image_tag "country-4x3/#{loc.country_code.downcase}.svg", width: 32, alt: loc.country_code %>
    <% end %>
  </li>
<% end %>
</ul>
<%
formatted_size_data_received = @size_data_received.map { |size, count| [ number_with_precision(size, precision: 0, separator: '.', delimiter: ','),  number_with_precision(count, precision: 0) ] } 
formatted_size_data_sent = @size_data_sent.map { |size, count| [ number_with_precision(size, precision: 0, separator: '.', delimiter: ','),  number_with_precision(count, precision: 0) ] } 
%>
<pre>
<% @size_data_received.pretty_inspect %>
<% formatted_size_data_received.pretty_inspect %>
</pre>

  <%= column_chart  [{ name: 'Received', data: formatted_size_data_received },  { name: 'Sent', data: formatted_size_data_sent } ] %>

  <%= column_chart  [{ name: 'Received', data: @time_data_received },  { name: 'Sent', data: @time_data_sent } ] %>
<% else %>
  <h2>No flows</h2>  
<% end %>

<%= link_to 'Edit', edit_device_path(@device) %> | <%= link_to 'Back', devices_path %>

<% content_for :title, @device.friendly_name %>
