<p id="notice"><%= notice %></p>

<h1>Software Blacklists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @software_blacklists.each do |software_blacklist| %>
      <tr>
        <td><%= software_blacklist.name %></td>
        <td><%= software_blacklist.version %></td>
        <td><%= software_blacklist.reason %></td>
        <td><%= link_to 'Show', software_blacklist %></td>
        <td><%= link_to 'Edit', edit_software_blacklist_path(software_blacklist) %></td>
        <td><%= link_to 'Destroy', software_blacklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Software Blacklist', new_software_blacklist_path %>
