<p id="notice"><%= notice %></p>

<p>
  <strong>Scan type:</strong>
  <%= @scan.scan_type %>
</p>

<p>
  <strong>Start:</strong>
  <%= @scan.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @scan.end %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @scan.notes %>
</p>

<%= link_to 'Edit', edit_scan_path(@scan) %> |
<%= link_to 'Back', scans_path %>
