<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mdn.name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @mdn.service %>
</p>

<p>
  <strong>Protocol:</strong>
  <%= @mdn.protocol %>
</p>

<p>
  <strong>Device:</strong>
  <%= @mdn.device %>
</p>

<%= link_to 'Edit', edit_mdn_path(@mdn) %> |
<%= link_to 'Back', mdns_path %>
