<p id="notice"><%= notice %></p>

<h1>Upnps</h1>

<table>
  <thead>
    <tr>
      <th>Device</th>
      <th>Description</th>
      <th>Services</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @upnps.each do |upnp| %>
      <tr>
        <td><%= upnp.device ? link_to(upnp.device.friendy_name, upnp.device) : '' %></td>
        <td>
	  <pre>
	    <% upnp.description.split("\n").each do |line| %>
	      <%= line %><br />
	    <% end %>
	  </pre>
	</td>
        <td>
	  <%  upnp.services.each do |service| %>
	    <%= service %>
	    <br />
	  <% end %>
	</td>
        <td><%= link_to 'Show', upnp %></td>
        <td><%= link_to 'Edit', edit_upnp_path(upnp) %></td>
        <td><%= link_to 'Destroy', upnp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Upnp', new_upnp_path %>

<%= will_paginate @upnps %>

<% content_for :title, "UPNP" %>
