<%= form_for(scan_diff) do |f| %>
  <% if scan_diff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scan_diff.errors.count, "error") %> prohibited this scan_diff from being saved:</h2>

      <ul>
      <% scan_diff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scan_id %>
    <%= f.text_field :scan_id %>
  </div>

  <div class="field">
    <%= f.label :device_id %>
    <%= f.text_field :device_id %>
  </div>

  <div class="field">
    <%= f.label :kind %>
    <%= f.text_field :kind %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status %>
  </div>

  <div class="field">
    <%= f.label :extra %>
    <%= f.text_field :extra %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
