<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to image_tag('color_logo_transparent.svg ',size: '32x32', alt: 'Phage Logo'), "/", class: "navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Devices', devices_path %><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to 'History', histories_path %></a>
      </li>
      <li class="nav-item">
      <li class="nav-item">
        <%= link_to 'UPNP', upnps_path %></a>
      </li>
      <li class="nav-item">
        <%= link_to 'mDNS', mdns_path %></a>
      </li>
      <li class="nav-item">
        <%= link_to 'Admin', '/admin' %></a>
      </li>
      <li class="nav-item">
        <%= link_to 'Rails Admin', rails_admin_path %></a>
      </li>
      <li class="nav-item">
	<%= link_to "beanstalk", "/beanstalkd" %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" name='q'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
